.navbar {
    height: 50px;
    color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_space {
    margin-left: 30px;
    transition: 1s;
}

.nav_space:hover{
    color: rgb(1, 53, 53)
}
